{% extends 'layout.html' %}
{% block body %}
 <h1> About </h1>

<style>
.card h1 {
    text-align: center;
 }
 .card1:hover{
    border:1px solid black;
    background: linear-gradient(-45deg, #ff5f6d , #ffc371);


 }

</style>



<div class="container">
    <div class="card card-body" style="border: 1px solid black; box-shadow: 0 0 10px black;">
        <h2>This is basic Machine Learning and Deep Learning based WebApp.</h2>
        <p>These Machine Learning models and Deep Leaning models are trained on  datasets and images.</p>
     
        <br>
        <div class="row">
            <div class="col-md-12 card card1 card-body" style="box-shadow: 0 0 5px black; margin: 5px;">

                <h4>Diabetes</h4>
                <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>Urinating often.</li>
                    <li>Feeling very thirsty.</li>
                    <li>Extreme fatigue.</li>
                    <li>Blurry vision.</li>
                </ul>

            </div>
            </div>

        <br>
        <br>
        <div class="row">
            <div class="col-md-12 card card1 card-body service-list" style="box-shadow: 0 0 5px black; margin: 5px;">

                <h4>Heart disease</h4>
                <p>Heart or Cardiovascular diseases (CVDs) are the number 1 cause of death globally, taking an estimated 17.9 million lives each year. CVDs are a group of disorders of the heart and blood vessels and include coronary heart disease, cerebrovascular disease, rheumatic heart disease and other conditions. Four out of 5CVD deaths are due to heart attacks and strokes, and one third of these deaths occur prematurely in people under 70 years of age.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>Fluttering in your chest</li>
                    <li>Chest pain or discomfort</li> 
                    <li>Slow heartbeat (bradycardia)</li>
                    <li>Racing heartbeat (tachycardia)</li>
                </ul>

            </div>

        </div>

        <br>

        <br>
        <div class="row">
            <div class="col-md-12 card card1 card-body" style="box-shadow: 0 0 5px black; margin: 5px;">

                <h4>Liver</h4>
                <p>The liver is an organ only found in vertebrates which detoxifies various metabolites, synthesizes proteins and produces biochemicals necessary for digestion and growth. In humans, it is located in the right upper quadrant of the abdomen, below the diaphragm.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>Skin and eyes that appear yellowish  </li>
                    <li>Abdominal pain and swelling</li>
                    <li>Dark urine color</li>

                </ul>

            </div>
        </div>

        <br>
        
         <div class="row">
            <div class="col-md-12 card card1 card-body" style="box-shadow: 0 0 5px black; margin: 5px;">

                <h4>Symptoms to disease</h4>
                <p>This takes input of three symptoms and predicts a possible cause.</p>
                <h5>Some symptoms as input</h5>
                <ul>
                    <li>Fever </li>
                    <li>Cough</li>
                    <li>Chills</li>

                </ul>

            </div>
        </div>


         <div class="row">
            <div class="col-md-12 card card1 card-body" style="box-shadow: 0 0 5px black; margin: 5px;">

                <h4>Fetal Health</h4>
                <p>When you're pregnant, you're constantly wondering how your baby is doing in there. This tells about the health of to be born baby and the mother carrying the baby.</p>
                <h5>Results of model</h5>
                <ul>
                    <li>Normal </li>
                    <li>Suspect</li>
                    <li>Severe</li>

                </ul>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 card card1 card-body" style="box-shadow: 0 0 5px black; margin: 5px;">

                <h4>Malaria</h4>
                <p>Malaria is a mosquito-borne infectious disease that affects humans and other animals. Malaria causes symptoms that typically include fever, tiredness, vomiting, and headaches. In severe cases it can cause yellow skin, seizures, coma, or death. Symptoms usually begin ten to fifteen days after being bitten by an infected mosquito. If not properly treated, people may have recurrences of the disease months later.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>Fever. This is the most common symptom.</li>
                    <li>Chills</li>
                    <li>Headache</li>
                    <li>Nausea and vomiting</li>
                </ul>

            </div>
        </div>


        


     </div>
</div>

















{% endblock %}