{% extends "layout.html" %}

{% block body %}
<br><br>

<div class="container" >
    <h1 class="text-center"><u><b>Fetal Health Prediction</b></u></h1>
</div>

<!-- Taking Input Data Area -->
<div class="login" >
    <form  action="{{ url_for('fetal_health_res') }}"  method="POST" style="font-weight: 600;">
        <div class="form-group">
            <label for="">Baseline Value </label>
            <input type="number" step="0.01" required  name="baseline_value" class="form-control" placeholder="Baseline Fetal Heart Rate (FHR) e.g.  120" required>
        </div>
        <div class="form-group">
            <label for="">Accelerations </label>
            <input type="number" step="0.01" required  name="accelerations" class="form-control" placeholder="Number of accelerations per second e.g.  0" required>
        </div>

        <div class="form-group">
            <label for="">Fetal Movement </label>
            <input  type="number" step="0.01" required name="fetal_movement" class="form-control" placeholder="Number of fetal movements per second e.g.  0" required>
        </div>
        <div class="form-group">
            <label for="">Uterine Contractions </label>
            <input  type="number" step="0.01" required  name="uterine_contractions" class="form-control" placeholder="Number of uterine contractions per second e.g.  0" required>
        </div>

        <div class="form-group">
            <label for="">Light Decelerations </label>
            <input  type="number" step="0.01" required name="light_decelerations" class="form-control" placeholder="Number of LDs per second e.g.  0" required>
        </div>
        <div class="form-group">
            <label for="">Severe Decelerations </label>
            <input  type="number" step="0.01" required  name="severe_decelerations" class="form-control" placeholder="Number of SDs per second e.g.  0" required>
        </div>

        <div class="form-group">
            <label for="">Prolongued Decelerations </label>
            <input  type="number" step="0.01" required  name="prolongued_decelerations" class="form-control" placeholder="Number of PDs per second e.g.  0" required>
        </div>
        <div class="form-group">
            <label for="">Abnormal Short Term Variability </label>
            <input  type="number" step="0.01" required name="abnormal_short_term_variability" class="form-control" placeholder="Percentage of time with abnormal short term variability e.g.  73" required>
        </div>

        <div class="form-group">
            <label for="">Mean Value of Short Term Variability </label>
            <input  type="number" step="0.01" required  name="mean_value_of_short_term_variability" class="form-control" placeholder="Mean value of short term variability e.g.  0.5" required>
        </div>
        <div class="form-group">
            <label for="">Percentage of Time with Abnormal Long Term Variability </label>
            <input  type="number" step="0.01" required  name="percentage_of_time_with_abnormal_long_term_variability" class="form-control" placeholder="Percentage of time with abnormal long term variability e.g.  43" required>
        </div>

        <div class="form-group">
            <label for="">Mean Value of Long Term Variability </label>
            <input  type="number" step="0.01" required  name="mean_value_of_long_term_variability" class="form-control" placeholder="Mean value of long term variability e.g.  2.4" required>
        </div>
        <div class="form-group">
            <label for="">Histogram Width </label>
            <input  type="number" step="0.01" required  name="histogram_width" class="form-control" placeholder="Width of the histogram made using all values from a record e.g.  64" required>
        </div>

        <div class="form-group">
            <label for="">Histogram Min </label>
            <input  type="number" step="0.01" required  name="histogram_min" class="form-control" placeholder="Histogram minimum value e.g.  62" required>
        </div>
        <div class="form-group">
            <label for="">Histogram Max </label>
            <input  type="number" step="0.01" required  name="histogram_max" class="form-control" placeholder="Histogram maximum value e.g.  126" required>
        </div>

        <div class="form-group">
            <label for="">Histogram Number of Peaks </label>
            <input  type="number" step="0.01" required name="histogram_number_of_peaks" class="form-control" placeholder="Number of peaks in the exam histogram e.g.  2" required>
        </div>
        <div class="form-group">
            <label for="">Histogram Number of Zeroes </label>
            <input  type="number" step="0.01" required  name="histogram_number_of_zeroes" class="form-control" placeholder="Number of zeroes in the exam histogram e.g.  0" required>
        </div>
        <div class="form-group">
            <label for="">Histogram Mode </label>
            <input  type="number" step="0.01" required  name="histogram_mode" class="form-control" placeholder="Hist mode e.g.  120" required>
        </div>

        <div class="form-group">
            <label for="">Histogram Mean </label>
            <input  type="number" step="0.01" required  name="histogram_mean" class="form-control" placeholder="Hist mean e.g.  137" required>
        </div>
        <div class="form-group">
            <label for="">Histogram Median </label>
            <input  type="number" step="0.01" required name="histogram_median" class="form-control" placeholder="Hist Median e.g.  121" required>
        </div>

        <div class="form-group">
            <label for="">Histogram Variance </label>
            <input type="number" step="0.01" required name="histogram_variance" class="form-control" placeholder="Hist variance e.g.  73" required>
        </div>
        <div class="form-group">
            <label for="">Histogram Tendency </label>
            <input  type="number" step="0.01" required  name="histogram_tendency" class="form-control" placeholder="Histogram trend e.g.  1" required>
        </div>
        

       <input type="submit" class="btn-primary btn" value="Submit">
        
    </form>
</div>

<!-- Displaying Output Area -->
<div class="center mt-4 pt-4" id="show_result" style="display: none;">
    {%  if result == 1 %}
        <h5><span style="font-weight: bold;"><u>Predicted Result :</u></span> <span style="color: darkblue;">The Condition of Fetal is : <span style="color: green;font-weight: bold;">Normal</span>.</span></h5>
        <div class="text-center p-4 m-4">
            <img class="gif" src="{{ url_for('static', filename='happy_emoji.png') }}" style="height: 200px;width: 200px;" alt="Loading ...">
        </div>
    {% elif result == 2 %}
        <h5><span style="font-weight: bold;"><u>Predicted Result :</u></span> <span style="color: darkblue;">The Condition of Fetal is : <span style="color: darkred;font-weight: bold;">Suspected</span>.</span></h5>
        <div class="text-center p-4 m-4">
            <img class="gif" src="{{ url_for('static', filename='middle_emoji.png') }}" style="height: 200px;width: 200px;" alt="Loading ...">
        </div>
    {% elif result == 3 %}
        <h5><span style="font-weight: bold;"><u>Predicted Result :</u></span> <span style="color: darkblue;">The Condition of Fetal is : <span style="color: red;">Pathological</span>.</span></h5>
        <div class="text-center p-4 m-4">
            <img class="gif" src="{{ url_for('static', filename='sad_emoji.png') }}" style="height: 200px;width: 200px;" alt="Loading ...">
        </div>
    {% else %}
        <h3 style="color: red;">Somthing Wrong... :(</h3>
    {% endif %}

    <div class="text-center p-4 m-4">
        <button type="button" class="btn-primary btn" onclick="window.location.href='/fetal_health_res'">Back</button>
    </div>

</div>


    {{result}}
{% endblock body %}